@import '../../variables.scss';

.Menu {
  list-style-type: none;
  font-family: $sansSerif;
  font-weight: 700;
  color: $boldText;

  &:hover .Menu__ListItemLink {
    opacity: 0.5;
  }

  &:hover .Menu__ListItemLink:hover {
    opacity: 1;
  }
}

.Menu__ListItem {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.Menu__ListItemLink {
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease-in-out;
}
