@import '../../variables.scss';

.Product {
  min-height: 390px;
  border-radius: 6px;
  background: $white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Product__Image {
  height: 130px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.Product__Title {
  margin: 0.67em 0 0.33em;
  font-size: 1.5em;

  color: $boldText;
  font-family: $sansSerifCondensed;
  font-weight: 700;
}

.Product__Description {
  flex: 1;
}

.Product__CTA {
  margin-top: 0.5em;
  background: $CTABackground;
  border: 0.33em solid $CTABorder;
  border-radius: 3px;
  text-decoration: none;
  font-family: $sansSerifCondensed;
  font-weight: 700;
  font-size: 1.5em;
  color: $white;
}
