@import '../../variables.scss';

.Product {
  min-height: 390px;
  border-radius: 6px;
  background: $white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Product__Image {
  height: 130px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.Product__Title {
  margin: 0.67em 0 0.33em;
  font-size: 1.5em;
  font-family: $sansSerifCondensed;
  font-weight: 700;
  color: $boldText;
}

.Product__Description {
  flex: 1;
}

.Product__CTA {
  margin-top: 0.5em;
  background: $CTABackground;
  border: 6px solid $CTABorder;
  border-radius: 3px;
  text-decoration: none;
  font-family: $sansSerifCondensed;
  font-weight: 700;
  font-size: 1.5em;
  color: $white;

  &:hover {
    background: none;
    border-width: 3px;
    padding: 3px;
    color: $boldText;
  }

  transition: all 300ms ease-in-out;
}
