@import '../../variables.scss';

.Header {
  position: relative;
  // background overlay css pulled from psd didn't quite line up with visual, so improvising slightly
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url('../../assets/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Header__Hero {
  margin: auto;
  max-width: 1200px;
  min-height: 350px;
  padding: 125px 0.5em 175px;
  display: grid;
  place-items: center;
  text-shadow: 0 0 8px rgba(35, 35, 38, 0.29);
  font-family: $sansSerifCondensed;
  font-weight: 700;
  font-size: 3em;
  color: $white;
}
