@import '../../variables.scss';

// z-indeces:
// 1: overlay
// 2: nav list
// 3: logo and hamburger

.Nav {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em 0;
}

.Nav__Logo {
  &:hover {
    opacity: 0.75;
  }

  transition: all 300ms ease-in-out;
}

.Nav__LogoImage {
  height: 100px;
}

.Nav__List {
  list-style-type: none;
  display: flex;
  font-family: $sansSerifCondensed;
  font-weight: 700;
  font-size: 1.125em;
  color: $white;

  &:hover .Nav__ListItem {
    opacity: 0.5;
  }

  &:hover .Nav__ListItem:hover {
    opacity: 1;
  }
}

.Nav__ListItem {
  margin-right: 3em;
  &:last-of-type {
    margin-right: 0;
  }

  position: relative;

  ::after {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    left: 0;
    width: 0%;
    background: $white;
    transition: all 150ms ease-in-out;
  }

  &:hover ::after {
    width: 100%;
  }

  transition: all 150ms ease-in-out;
}

.Nav__ListItemLink {
  display: block;
  text-decoration: none;
  color: $white;
}

.Nav__HamburgerButton {
  position: relative;
  height: 35px;
  width: 40px;
  cursor: pointer;
  border: none;
  background: none;
  display: none;
  place-items: center;

  &:hover {
    opacity: 0.8;
  }

  transition: opacity 150ms ease-in-out;
}

.Nav__HamburgerIcon {
  height: 5px;
  border-radius: 4px;
  background: $white;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: $white;

    transition: all 150ms ease-in-out 150ms, transform 150ms ease-in-out 0ms;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  transition: all 150ms ease-in-out 150ms;
}

.Nav--expanded {
  .Nav__HamburgerIcon {
    visibility: hidden;
    transition: all 0ms ease-in-out 150ms;

    &::before,
    &::after {
      visibility: visible;

      transition: all 150ms ease-in-out, transform 150ms ease-in-out 150ms;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.Nav__CollapseSidebarOverlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

@media (max-width: $tablet) {
  .Nav__LogoImage {
    height: 75px;
  }

  .Nav__List {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: $responsiveNavBG;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transition: right 150ms ease-in-out;
  }

  .Nav__ListItem {
    margin: 0;
    margin-bottom: 2em;
    &:last-of-type {
      margin-bottom: 0;
    }

    font-size: 1.25em;
  }

  .Nav__HamburgerButton {
    display: block;
    position: relative;
    right: 0;
    z-index: 3;

    transition: all 150ms ease-in-out;
  }

  .Nav--expanded {
    .Nav__HamburgerIcon {
      &::before {
        top: 15px;
      }

      &::after {
        bottom: 15px;
      }
    }

    .Nav__List {
      right: 0;
    }

    .Nav__HamburgerButton {
      right: calc(250px - 6em);
    }
  }

  .Nav--expanded + .Nav__CollapseSidebarOverlay {
    display: block;
  }
}

@media (max-width: $mobile) {
  .Nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .Nav__Logo {
    position: relative;
    z-index: 3;
  }

  .Nav__LogoImage {
    height: 50px;
  }

  .Nav__List {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    align-items: center;

    transition: opacity 150ms ease-in-out;
  }

  .Nav--expanded {
    // position: fixed;
    // top: 0;
    // right: 0;
    // height: 100vh;
    // width: 100%;

    .Nav__List {
      display: flex;
    }

    .Nav__HamburgerButton {
      right: 0;
    }

    .Nav__HamburgerIcon {
      &::before {
        top: 11px;
      }

      &::after {
        bottom: 11px;
      }
    }
  }

  .Nav__ListItem {
    margin-right: 0;
    margin-bottom: 2em;

    ::after {
      display: none;
    }

    font-size: 1em;
  }

  .Nav__ListItemLink {
    width: 100px;
    border: 2px solid $white;
    padding: 6px 14px;
    text-align: center;
  }

  .Nav__HamburgerButton {
    height: 25px;
    width: 30px;
  }

  .Nav__HamburgerIcon {
    height: 3px;
    &::after,
    &::before {
      height: 3px;
    }
  }

  .Nav--expanded + .Nav__CollapseSidebarOverlay {
    display: none;
  }
}
